<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArmYofOneTrainerEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ArmYofOneTrainerEngine.Properties.Settings>
      <setting name="HotkeyB0" serializeAs="String">
        <value>0x63</value>
      </setting>
      <setting name="HotkeyB1" serializeAs="String">
        <value>0x64</value>
      </setting>
      <setting name="HotkeyB2" serializeAs="String">
        <value>0X65</value>
      </setting>
      <setting name="HotkeyB3" serializeAs="String">
        <value>0X66</value>
      </setting>
      <setting name="HotkeyB4" serializeAs="String">
        <value>0x67</value>
      </setting>
      <setting name="HotkeyB5" serializeAs="String">
        <value>0x68</value>
      </setting>
      <setting name="HotkeyB6" serializeAs="String">
        <value>0x69</value>
      </setting>
      <setting name="HotkeyB7" serializeAs="String">
        <value>0x6A</value>
      </setting>
      <setting name="HotkeyB8" serializeAs="String">
        <value>0x6B</value>
      </setting>
      <setting name="HotkeyB9" serializeAs="String">
        <value>0x60</value>
      </setting>
      <setting name="HotkeyB10" serializeAs="String">
        <value>0x61</value>
      </setting>
      <setting name="HotkeyB11" serializeAs="String">
        <value>0x62</value>
      </setting>
    </ArmYofOneTrainerEngine.Properties.Settings>
  </userSettings>
</configuration>
